@font-face {
  font-family: "myFont1";
  src: url("../font/PPTelegraf/PPTelegraf-Regular.otf");
}
@font-face {
  font-family: "myFont2";
  src: url("../font/PPTelegraf/PPTelegraf-UltraBold.otf");
}
@font-face {
  font-family: "myFont3";
  src: url("../font/PPTelegraf/PPTelegraf-UltraLight.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primaryColor: #337357;
  --secondaryColor: #54ac9e;
  --lightBgColor: #e3fff3;
}

body {
  color: #343434;
  font-family: "myFont1";
}

/* width */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.048);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(117, 117, 117);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primaryColor);
}

.container {
  width: calc(100% - 300px);
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .container {
    width: calc(100% - 100px);
  }
}
@media (max-width: 480px) {
  .container {
    width: calc(100% - 32px);
  }
}

a,
article,
button,
div,
span,
i,
b,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
ul,
li,
select,
label,
textarea {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  font-family: "myFont1";
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  font-family: "myFont1";
}

input {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
  color: transparent;
}

video::-internal-media-controls-overlay-cast-button {
  display: none;
}

textarea {
  resize: none;
  font-family: "myFont1";
}

::-moz-selection {
  color: white;
  background: #1d1d1d;
}

::selection {
  color: white;
  background: #1d1d1d;
}

p {
  font-family: "myFont1";
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.shimmer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 105;
  background: rgba(0, 0, 0, 0.486);
  display: none;
}

nav {
  width: 100%;
  z-index: 20;
  top: 0;
  left: 0;
  background: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.0745098039);
}
nav .navMain {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 480px) {
  nav .navMain {
    height: 70px;
  }
}
nav .navMain .navLogo {
  text-decoration: none;
  height: 70px;
  display: flex;
  text-decoration: none;
  align-items: center;
}
nav .navMain .navLogo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
nav .navMain .navLogo h1 {
  font-size: 26px;
  color: black;
}
nav .navMain .navLink {
  display: flex;
  align-items: center;
  margin-left: auto;
}
@media (max-width: 1024px) {
  nav .navMain .navLink {
    display: none;
  }
}
nav .navMain .navLink ul {
  display: flex;
  align-items: center;
  gap: 80px;
}
@media (max-width: 1800px) {
  nav .navMain .navLink ul {
    gap: 60px;
  }
}
nav .navMain .navLink ul li {
  list-style: none;
}
nav .navMain .navLink ul li a {
  text-decoration: none;
  color: #343434;
  font-size: 18px;
  display: flex;
  transition: 0.3s;
}
@media (max-width: 1800px) {
  nav .navMain .navLink ul li a {
    font-size: 16px;
  }
}
nav .navMain .navLink ul li a:hover {
  transition: 0.3s;
  color: var(--primaryColor);
}
nav .navMain .navLink ul li .navLinkActive {
  font-family: myFont2;
  color: var(--primaryColor);
}
nav .navMain .navContact {
  margin-left: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1024px) {
  nav .navMain .navContact {
    margin-left: auto;
  }
}
@media (max-width: 480px) {
  nav .navMain .navContact {
    display: none;
  }
}
nav .navMain .navContact .navContactBtn {
  text-decoration: none;
  background: var(--primaryColor);
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50px;
  padding: 12px 30px;
  transition: 0.3s;
}
@media (max-width: 1800px) {
  nav .navMain .navContact .navContactBtn {
    font-size: 16px;
  }
}
nav .navMain .navContact .navContactBtn:hover {
  transition: 0.3s;
  background: var(--secondaryColor);
}
nav .navMain .navBar {
  display: none;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
}
@media (max-width: 1024px) {
  nav .navMain .navBar {
    display: flex;
  }
}
nav .navMain .navBar .navBarBox {
  width: 30px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
nav .navMain .navBar .navBarBox span {
  width: 100%;
  height: 2px;
  background: #343434;
}

#homeBanner {
  width: 100%;
  padding-top: 100px;
}
#homeBanner .bannerMain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#homeBanner .bannerMain h1 {
  text-align: center;
  font-size: 3.5em;
  width: 65%;
  line-height: 1.3;
}
#homeBanner .bannerMain p {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  line-height: 1.5;
  width: 60%;
}
#homeBanner .bannerMain .bannerBtnArea {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 40px;
}
#homeBanner .bannerMain .bannerBtnArea .bannerContactBtn {
  text-decoration: none;
  border: 1px solid var(--primaryColor);
  color: var(--primaryColor);
  font-size: 18px;
  border-radius: 50px;
  padding: 12px 30px;
  transition: 0.3s;
}
@media (max-width: 1800px) {
  #homeBanner .bannerMain .bannerBtnArea .bannerContactBtn {
    font-size: 16px;
  }
}
#homeBanner .bannerMain .bannerBtnArea .bannerContactBtn:hover {
  transition: 0.3s;
  border-color: var(--secondaryColor);
  background: var(--secondaryColor);
  color: white;
}
#homeBanner .bannerMain .bannerBtnArea .bannerBookBtn {
  text-decoration: none;
  background: var(--primaryColor);
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50px;
  padding: 12px 30px;
  transition: 0.3s;
}
@media (max-width: 1800px) {
  #homeBanner .bannerMain .bannerBtnArea .bannerBookBtn {
    font-size: 16px;
  }
}
#homeBanner .bannerMain .bannerBtnArea .bannerBookBtn:hover {
  transition: 0.3s;
  background: var(--secondaryColor);
}
#homeBanner .bannerMain .bannerThumbnail {
  width: 100%;
  display: flex;
  gap: 20px;
  margin-top: 100px;
  align-items: flex-end;
}
#homeBanner .bannerMain .bannerThumbnail .bannerThumbnailBox {
  width: calc(25% - 15px);
  background: #eee;
  height: 600px;
  overflow: hidden;
}
#homeBanner .bannerMain .bannerThumbnail .bannerThumbnailBox:nth-of-type(odd) {
  -webkit-clip-path: polygon(0 0, 100% 16%, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 16%, 100% 100%, 0% 100%);
}
#homeBanner .bannerMain .bannerThumbnail .bannerThumbnailBox:nth-of-type(even) {
  height: 500px;
  -webkit-clip-path: polygon(0 16%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 16%, 100% 0, 100% 100%, 0% 100%);
}
#homeBanner .bannerMain .bannerThumbnail .bannerThumbnailBox:nth-of-type(1) {
  background: #5575bc;
}
#homeBanner .bannerMain .bannerThumbnail .bannerThumbnailBox:nth-of-type(1) img {
  margin-top: 50px;
}
#homeBanner .bannerMain .bannerThumbnail .bannerThumbnailBox:nth-of-type(2) {
  background: #3896d3;
}
#homeBanner .bannerMain .bannerThumbnail .bannerThumbnailBox:nth-of-type(3) {
  background: #70bda3;
}
#homeBanner .bannerMain .bannerThumbnail .bannerThumbnailBox:nth-of-type(3) img {
  margin-top: 50px;
}
#homeBanner .bannerMain .bannerThumbnail .bannerThumbnailBox:nth-of-type(4) {
  background: #2e7cc2;
}
#homeBanner .bannerMain .bannerThumbnail .bannerThumbnailBox:nth-of-type(4) img {
  margin-top: 50px;
}
#homeBanner .bannerMain .bannerThumbnail .bannerThumbnailBox img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=main.css.map */